body{
  font-family: "Hind";
  text-align: center;
}

h2,h3{
  font-family: "Montserrat";
}
p{
  color:#8f8f8f;
}
/* Navabar*/
.navbar{
  color:white;
  padding: 0 0 0.45rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0px 16px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Hind";
}
/* Title section*/
#title{
  text-align: left;
}
.container-fluid{
  padding: 3% 15% 7%;
}
.download-button{
  margin:5% 3% 5% 0;
}
/*Heading*/
.heading{
  font-family: "Montserrat";
  font-size:3.5rem;
  line-height: 1.5;
  color:white;
}
.section-heading{
  font-size: 2.5rem;
}
.cta-heading{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height:1.5;
}
/* Title image*/
.title-image{
  width:60%;
transform: rotate(25deg);
position: absolute;
right:30%;
}
@media  (max-width:991px) {
  #title{
    text-align: center;
  }
  .title-image{
  position: static;
  width:60%;
  transform:rotate(0deg);
  }
}
/*Features Section*/
#features{
  padding: 7% 12%;
  background-color:#fff;
  position: relative;
  z-index: 1;
}
.features-box{
  padding: 5%;
}
.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}
/*Testimonials section*/
#testimonials {
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 2.5rem;
}
.carousel-item{
  padding: 7% 15%;
}
.testimonial-image{
  width:10%;
  border-radius: 50%;
  margin:20px;
}
/*Section*/
.coloured-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
    background-color: #fff;
}
/*Press*/
#press{
  background-color: #ef8172;
padding-bottom:3% ;
}
/*Press section*/
.press-image{
  width:15%;
  margin:20px 20px 50px;
}
/*Pricing section*/
#pricing{
  padding:100px;
}
.pricing-table{
  padding:3% 2%;
}
.price-text{
  font-size: 2.5rem;
}
/*cta section*/
#cta{
  padding: 7% 15%;

}

/* Footer section*/
#footer{
  padding: 7% 15%;
}
.footer-icon{
  padding: 1% 2% 1%;
}
